@use 'styles/variables' as v;

.full-width { width: 100%; }

.row-cep .cep-field { width: 200px; }

.row-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  @media (max-width: 600px) { grid-template-columns: 1fr; }
}
